---
import Base from '../layouts/Base.astro';
---

<Base title="Davi Valerio">
  <div class="hero">
    <img src="/avatar.svg" alt="Davi Valerio" class="avatar" />
    <div>
      <!-- <h1>Davi Valerio</h1> -->
      <p>
        Hi! My name is Davi G. Valério, 👋 <br>
        I'm an ML researcher and data scientist.
        <br><br>
        In my Computer Science MSc at the University of Lisbon, I was privileged to be supervised by <a href="https://scholar.google.com/citations?user=S5NGkFsAAAAJ&hl=en">Prof. Chrysoula Zerva</a> and <a href="https://www.aicos.fraunhofer.pt/en/about/andre_carreiro.html">Dr. André Carreiro</a>, from Fraunhofer.
        <br><br>
        In this website you find some <a href="/blog/">thoughts</a> and my <a href="/cv/">cv</a>.
      </p>
    </div>
  </div>
</Base>
