---
const year = new Date().getFullYear();
---

<footer>
  <p>&copy; {year} Davi Valerio — Design inspired by <a href="https://github.com/hasparus/zaduma">hasparus</a> — Painting by  <a href="https://en.wikipedia.org/wiki/Caspar_David_Friedrich">Caspar David Friedrich</a> </p>
</footer>
